.Collections{
    grid-column:full-start/col-end 3;
    align-self: start;
    display: grid;
    grid-row-gap: .5rem;
    padding: 4rem 0rem .5rem 0rem;
    background-color:var(--base_color_dark);
    margin: 5rem 0rem 5rem 0rem;
    align-items:  center;
    margin-left: 10rem;
    border-radius: 10px;
}


//   @include respond(tabl-lands-1100) {
//       grid-template-rows: minmax(min-content, 25vh ) minmax(50vh, max-content)    min-content min-content;
//   }

//   @include respond(tabl-port-900) {
//       grid-template-rows: minmax(min-content, 25vh ) minmax(45vh, min-content)   min-content min-content;
//   }