.Select{
    margin: 2rem;
    justify-self: start;
    font-size: 1.6rem;
    font-family: var(--font_family_1);
    outline: none;
}
// label{
//     font-size: 1.6rem;
//     font-family: var(--font_family_1);
// }