.Asset{
    min-height: 11.5rem;
    background-color: var(--base_color_light);
    display: grid;
    grid-template-columns:min-content  1fr min-content max-content;
    grid-template-rows: min-content;
    grid-column-gap: 5rem;
    justify-items: center;
    align-items: center;
    margin: 0 .5rem 0 .5rem;
    align-content: center;
    transition: var(--transition);
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 3px;


    &:hover {
        border: 3px solid var(--color_red_light);
    }
    
    &:hover .img{
        box-shadow: .5rem .5rem 1.5rem rgba(black, 0.4);
        transform: scale(1.08);
    }

    &:hover .img.active{
        box-shadow: none;
        transform: scale(1);
    }

    .img{
        height: 11rem;
        width: 11rem;
        border-radius: 50%;
        display: block;
        margin: 1rem;
        margin-left: 5rem;
        border: var(--image_boredr_transp);
        transition: all .6s;
        transition: var(--transition);
    }
  
    .img.active{ 
        border: .3rem solid var(--color_gold);
    }


    p{
        font-size: 2.2rem;
        margin-right: 2rem;
        margin-left: 5rem;
        justify-self: start;
    }
    .check{
        position: relative;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background-color: red;
    }
  
}

.Box_active{
    border: 3px solid var(--color_gold); 
    &:hover{
        border: 3px solid var(--color_gold);
    }
}
