@import './sass/variables';


*,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
  :root{
    // --color_gold:#FFD700; 
    --color_gold:#ffa41b; 
    --color_gold_light:#fcd59b; 
    --color_red:#800000; 
    --color_red_light:#A52A2A; 
    --base_color_dark: #252525; 
    --base_color_light: #f6f6f6; 

    --font_family_1: 'Poller One', cursive;
    --font_family_2: 'Roboto', sans-serif;

    --transition: all .4s;

    --image_boredr_transp: .3rem  solid transparent;


  }
  html{
      box-sizing: border-box;
      font-size: 62.5%;
  }
  
  body{
      font-family: var(--font_family_2);
      font-size: 4rem;
      background-color:var(--base_color_light);
  }